<div class="row">
  <div class="col-xs-12">
    <img
      [src]="product.imgPath"
      alt="{{ product.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name + ' ' + product.quantity.toString() }}</h1>
    <span>{{ product.barcode }}</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Gérer <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Modifier la recette</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Supprimer la recette</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.composition }}
  </div>
</div>
