<div class="row">
  <div class="col-xs-6">
    <button class="btn btn-success" (click)="onNewUnit()">Ajouter un nouveau produit</button>
  </div>
  <div class="col-xs-6">
    <div class="row pull-right">
      <div class="col-md-8">
        <input type="text" [(ngModel)]="inputSearch" class="form-control">
      </div>
      <button type="button" (click)="onFindProduct()" class="btn btn-primary dropdown-toggle">R</button>
      <button type="button" (click)="clearFind()" class="btn btn-danger dropdown-toggle">X</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-product-item
      *ngFor="let productEl of products; let i = index"
      [product]="productEl"
      [index]="i"></app-product-item>
  </div>
</div>
